@import '../../../theme/mixins';

app-footer{
  position:fixed;
  width:100%;
  bottom:29px;

}
section{
  height:calc(100% - 72px);
  width:100%;
  .container{
    display:flex;
    mat-card{
      max-width:556px;
      height:100%;
      display:block;
      margin:120px auto;
      padding:40px 0;
      max-height:360px;
      width:100%;
    }





    .login-button{
      width:80%;
      margin:0 auto;
      display:block;
      font-size:16px;
      font-weight:bold;
      font-family:'Lato',sans-serif;
      @include box-shadow( 0 10px 20px 0 rgba(170, 202, 65, 0.5));
    }
    mat-form-field{
      width:100%;
    }


    .middle-card,.top-card,.bottom-card{
      width:328px;
      display:block;
      margin:auto;
    }
    .middle-card{
      margin:68px auto 40px;
    }

    mat-form-field{
      &:first-child{
        margin-bottom:20px;
      }
    }

    h4{
      font-family:'Lato',sans-serif;
      font-size:18px;
      padding:0;
      margin:0;
    }
  }
}
