<app-header></app-header>
<section [class.bg-bg]="true">
  <div class="container">
    <mat-card [class.login-box]="true">
      <form (submit)="preventDefault($event)" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-card-content>
        <div class="top-card">
          <h4 [class.text-dark]="true" [class.text-center]="true">Log in to Kwiktrust</h4>
        </div>


        <div class="middle-card">
          <mat-form-field>
            <mat-label [class.danger]="isError && statusMsg.email">{{isError && statusMsg.email?statusMsg.email:'Email'}}</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <mat-label [class.danger]="isError && statusMsg.password">{{isError && statusMsg.password?statusMsg.password:'Password'}}</mat-label>
            <input matInput placeholder="*********" [type]="passwordType" formControlName="password">
           <mat-icon matSuffix [class.text-light]="true" [class.pointer]="true" (click)="togglePasswordType()">visibility</mat-icon>

          </mat-form-field>

        </div>

        <div class="bottom-card">
          <button mat-button type="submit" [disabled]="!loginForm.valid" [class.login-button]="true" [class.light]="true"
                  [class.round]="true" [class.secondary-bg]="true">LOG IN</button>
        </div>
      </mat-card-content>
      </form>

    </mat-card>
  </div>
</section>
<app-footer></app-footer>
