<app-header></app-header>
<section [class.bg-bg]="true">
  <div class="container">
    <mat-card [class.login-box]="true">
      <form (submit)="preventDefault($event)" [formGroup]="signupForm" (ngSubmit)="signup()">

        <mat-card-content>
          <div class="top-card">
            <h4 [class.text-dark]="true" [class.text-center]="true">Sign Up to Kwiktrust</h4>
            <h6 [class.text-light]="true" [class.text-center]="true">Create your account by filling the form below</h6>
          </div>


          <div class="middle-card">
            <mat-grid-list rowHeight="75px" cols="2">
              <mat-grid-tile>
                <mat-form-field class="right-space">
                  <mat-label [class.danger]="isError && statusMsg.firstname">{{isError && statusMsg.firstname?statusMsg.firstname:'First Name'}}</mat-label>
                  <input matInput placeholder="First Name" type="text" formControlName="firstname">
                </mat-form-field>

              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field class="left-space">
                  <mat-label [class.danger]="isError && statusMsg.lastname">{{isError && statusMsg.lastname?statusMsg.lastname:'Last Name'}}</mat-label>
                  <input matInput placeholder="Last Name" type="text" formControlName="lastname">
                </mat-form-field>

              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-form-field>
                  <mat-label [class.danger]="isError && statusMsg.email">{{isError && statusMsg.email?statusMsg.email:'Email'}}</mat-label>
                  <input matInput placeholder="Email" type="email" formControlName="email">
                </mat-form-field>

              </mat-grid-tile>
              <mat-grid-tile colspan="2">

                <mat-form-field>
                  <mat-label [class.danger]="isError && statusMsg.password">{{isError && statusMsg.password?statusMsg.password:'Password'}}</mat-label>
                  <input matInput placeholder="*********" [type]="passwordType" formControlName="password">
                  <mat-icon matSuffix [class.text-light]="true" [class.pointer]="true" (click)="togglePasswordType()">visibility</mat-icon>

                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>



          </div>

          <div class="bottom-card">
            <button mat-button type="submit" [disabled]="!signupForm.valid" [class.login-button]="true" [class.light]="true"
                    [class.round]="true" [class.secondary-bg]="true">CREATE ACCOUNT</button>
          </div>
        </mat-card-content>
      </form>

    </mat-card>
  </div>
</section>
<app-footer></app-footer>
