$colors:(
  primary:#242e47,
  light:#ffffff,
  bg:#f5f7fa,
  secondary:#aaca41,
  text:#1d2740,
  text-dark:#1b2437,
  text-light:#a1a1a1,
  line-color:#d4d4d4,
  danger:#f34848
);



.transparent-bg{
  background:transparent;
}
@each $name,$value in $colors{
  .#{$name}{
    color:$value !important
  }
  .#{$name}-bg{
    background:$value !important
  }

}
