$url:'/assets/fonts/';
$fonts:(
  'SFProText Bold':$url+'SFProDisplay-Bold.ttf',
  'SFProText Medium':$url+'SFProDisplay-Medium.ttf',
  'SFProText Light':$url+'SFProText-Light.ttf',
  'SFProText Regular':$url+'SFProText-Regular.ttf',
  'SFProText Semibold':$url+'SFProText-Semibold.ttf'
);

@each $name,$value in $fonts{
  @font-face {
    font-family: $name;
    src: url($value);
  }
}

