
.column-view{
  display:flex !important;
  flex-direction:column;
  .mat-figure{
    display:flex;
    flex-direction:column;
    align-items:unset !important;

  }
  &.column-view-end{
    .mat-figure{
      justify-content:start;

    }
  }
  &.row-view-end{
    .mat-figure{
      flex-direction:row !important;
      justify-content:flex-end;
      align-items:unset !important;
    }
  }
}

.column-view-space-between{
  display:flex !important;
  flex-direction:column;
  .mat-figure{
    display:flex;
    justify-content:space-between !important;

    flex-direction:column;
    align-items:unset !important;

  }
}
