mat-form-field{
  input,mat-label{
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    color: #757575;

  }

  .mat-form-field-underline{
    background:map_get($colors,line-color) !important;
  }
}
