


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 200px;

$screen-sm-min1: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min1}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}


// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


@mixin onlySm{
  @media only screen and (max-width: #{$screen-md-min}) {
    @content;
  }
}



@mixin onlyMd{
  @media only screen and (max-width: #{$screen-lg-min}) and (min-width: #{$screen-md-min}) {
    @content;
  }
}


@mixin onlyLg{
  @media only screen and (max-width: #{$screen-xl-min}) and (min-width: #{$screen-lg-min}) {
    @content;
  }
}


@mixin belowLg{
  @media only screen and (max-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin belowMd{
  @media only screen and (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin belowSm{
  @media only screen and (max-width: #{$screen-sm-min}) {
    @content;
  }
}



