<input
  type="file"
  #file
  style="display: none"
  (change)="onFilesAdded()"
  multiple
/>
<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title style="text-align: center;">Upload File</h1>
    <button
      [disabled]="uploading || uploadSuccessful || size"
      mat-raised-button
      style="background-color: #aaca41; color: white; font-weight: bold; max-width: 132px; margin:auto;"
      class="add-files-btn"
      (click)="addFiles()"
    >
      Add File
    </button>

  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">
        <h4 mat-line>{{file.name}}</h4>
        <mat-progress-bar
          *ngIf="progress"
          mode="determinate"
          [value]="progress[file.name].progress | async"
        ></mat-progress-bar>
      </mat-list-item>
    </mat-list>
    <div *ngIf="size">
      <input matInput [matDatepicker]="myDatepicker" placeholder="Choose expiration date" (dateChange)="addDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </div>
  </mat-dialog-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      style="background-color: #aaca41; color: white; font-weight: bold;"
      [disabled]="!canBeClosed"
      (click)="closeDialog()"
    >
      {{primaryButtonText}}
    </button>
  </mat-dialog-actions>
</div>
