@import '../../theme/mixins';
@import '../../theme/colors';

app-footer{
  position:fixed;
  width:100%;
  bottom:29px;

}

.home-bg{
  @include commonBg(100%);
  background:url("/assets/img/background/home-bg.png");
  background-position:center;
  background-repeat:no-repeat;
  height:100%;
}
section {
  height: calc(100% - 72px);
  width: 100%;
  .container {
    display: flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    mat-grid-list{
      max-width:1200px;
      margin:auto;
      width:100%;
    }

    .inner-grid{
      height:100%;
      width:100%;
      max-width: 527px;
      max-height: 668px;
    }


    .writeup{
      height:100%;
    }
  }

  h1{
    font-size:50px;
    font-family:'Lato',sans-serif;
    font-weight:bold;
    line-height:1.2;
    margin:0;
  }

  p{
    font-family:'Lato',sans-serif;
    font-size:14px;
    font-weight:bold;
    margin-top:25px;
    color:map_get($colors,text-light);
  }
}
