<app-header></app-header>
<section [class.bg-bg]="true">
  <div class="container">

    <mat-grid-list cols="2" rowHeight="100%" [class.column-view]="true">
      <mat-grid-tile>
        <div class="inner-grid">
          <div class="home-bg"></div>

        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="inner-grid">
          <div class="writeup">

            <h1 [class.text-dark]>Creating a Trusted Trading Environment</h1>
            <p>Kwiktrust is a blockchain, smart-contract project that tackles the challenges of  B2B trade through creating a trusted trading environment.</p>
            <p>A due diligence system that checks supplier references for you automatically, saving you time and money.</p>
            <p>Makes use of artificial intelligence to make smart checks and blockchain technology to exchange and store data securely.</p>
          </div>
        </div>

  </mat-grid-tile>
    </mat-grid-list>

  </div>
</section>
<app-footer></app-footer>
