@import "../../../theme/colors";



header{
  background:map_get($colors,primary);
  .container{
    .logo-container{
      position:absolute;
      left:0;
      img{
        width:56px;
      }

    }


    .action-buttons{
     position:absolute;
      right:0;
      button{
        font-size:12px;
        font-family:'SFProText Bold',sans-serif;
        font-weight:bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align:center;
        &:first-child{
          margin-right:10px;
          box-shadow: 0 10px 20px 0 rgba(170, 202, 65, 0.2);
        }
      }
    }
  }

  .clearfix{
    clear:both;
  }
}
