<header>
  <div class="container">
    <mat-grid-list cols="4" rowHeight="72px">
      <mat-grid-tile colspan="1">
        <div class="logo-container">
          <img src="/assets/img/icon/logo.png" [routerLink]="'/'"/>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" >
        <div *ngIf="!isLogged; else loggedOut;" class="action-buttons">
          <button [routerLink]="'/auth/signup'" mat-button [class.round]="true" [class.light]="true" [class.login-button]="true" [class.secondary-bg]="true">SIGN UP</button>
          <button [routerLink]="'/auth/login'" mat-button [class.login-button]="true" [class.transparent-bg]="true" [class.light]="true">LOG IN</button>
        </div>
        <ng-template #loggedOut>
          <div class="action-buttons">
            <button (click)="logOut()" mat-button [class.round]="true" [class.light]="true" [class.login-button]="true" [class.secondary-bg]="true">LOG OUT</button>
          </div>
        </ng-template>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="clearfix"></div>
</header>
