/* You can add global styles to this file, and also import other style files */
@import "./theme/mixins";
@import "./theme/colors";
@import "./theme/button";
@import "./theme/fonts";
@import "./theme/grid";
@import "./theme/queries";
@import "./theme/icons";
@import "./theme/input";
@import "./theme/card";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Lato:300,400,700|Open+Sans:300,400,700');

body,html{
  margin:0;
  display:block;
  height:100%;
}

.container{
  @include md{
    padding-left:72px;
    padding-right:72px;
  }

  max-width:1440px;
  margin:0 auto;
  display:block;
}


.pointer{
  cursor:pointer;
}

button,a{
  cursor:pointer;
}


.no-border{
  border:none;
}

.no-outline{
  outline:0;
}

.text-center{
  text-align:center;
}

.text-right{
  text-align:right;
}


.text-left{
  text-align:left;
}
