<footer>
  <div class="container">
    <div class="footer-tag-line">
      <a [class.text]="true">Terms & Conditions</a>
      <a [class.text]="true">Privacy Policy</a>
    </div>

    <button class="chat-button" [class.transparent-bg]="true"
            [class.no-border]="true" [class.no-outline]="true">
      <i class="custom-icon chat"></i>
    </button>
  </div>
</footer>
