
.container{
  position:relative;
  .footer-tag-line{
    text-align:center;
    a{
      font-family:'Lato',sans-serif;
      font-size:10px;
      font-weight: bold;

      &:first-child{
        margin-right:5px;
      }
      &:last-child{
        margin-left:5px;
      }
    }
  }
  .chat-button{
    position:absolute;
    right:0;
    bottom:0;
    .custom-icon{
      width:94px;
      height:94px;
    }
  }
}
